讀入資料

In [36]:
import pandas as pd
import numpy as np

df1 = pd.read_csv('class_1.csv')
df2 = pd.read_csv('class_2.csv')
df3 = pd.read_csv('class_3.csv')
df1['class'] = 1
df2['class'] = 2
df3['class'] = 3
frames = [df1, df2, df3]
df = pd.concat(frames)

#將NaN值補0
df.fillna(0, inplace=True)
df

,時間 (sec),SN1,時間 (sec).1,SN2,時間 (sec).2,SN3,時間 (sec).3,SN4,class
0,0.002582,0.031084,0.095312,0.438761,0.163917,0.016272,0.259988,4.25459,1
1,0.004777,0.064190,0.097895,1.666540,0.166188,0.061310,0.295714,52.95100,1
2,0.007188,0.360614,0.100406,2.371800,0.168424,0.201493,0.331390,48.52950,1
3,0.010003,1.564740,0.102735,2.885410,0.170637,0.439145,0.364984,45.41260,1
4,0.012240,3.097940,0.105358,3.369740,0.172823,0.606987,0.409413,42.18700,1
...,...,...,...,...,...,...,...,...,...
199,16.679100,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,3
200,16.991600,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,3
201,17.307200,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,3
202,17.625900,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,3
203,23.755300,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,3

Q1：各組 SN1 最大壓力值

In [37]:
df_max_sn1 = df.groupby(['class'])['SN1 '].max().reset_index()
df_max_sn1

   class  SN1
0      1  67.6
1      2  67.6
2      3  67.6

Q2：各組 SN2 最大壓力值

In [38]:
df_max_sn2 = df.groupby(['class'])['SN2 '].max().reset_index()
df_max_sn2

   class     SN2
0      1  63.1276
1      2  63.8463
2      3  64.3854

Q3：各組 SN3 最大壓力值

In [39]:
df_max_sn3 = df.groupby(['class'])['SN3 '].max().reset_index()
df_max_sn3

   class     SN3
0      1  55.8327
1      2  57.8237
2      3  59.8625

Q4：各組 SN4 最大壓力值

In [40]:
df_max_sn4 = df.groupby(['class'])['SN4 '].max().reset_index()
df_max_sn4

   class     SN4
0      1  52.9510
1      2  54.6338
2      3  57.3840

Q5：各組 SN1 全程壓力積分值

In [41]:
# 取得第一行和第二行的數值
df_time1 = df['時間 (sec)'].values
df_sn1 = df['SN1 '].values

# 積分
total_length=len(df_time1)
length=total_length//3
temp = 0
time = 0
result = 0
for i in range(0,length):
    time = df_time1[i] - temp
    result += time * df_sn1[i]
    temp = df_time1[i]
print('第一組SN1壓力積分值為：',result)

temp = 0
time = 0
result = 0
for i in range(length,2*length):
    time = df_time1[i] - temp
    result += time * df_sn1[i]
    temp = df_time1[i]
print('第二組SN1壓力積分值為：',result)

temp = 0
time = 0
result = 0
for i in range(2*length,3*length):
    time = df_time1[i] - temp
    result += time * df_sn1[i]
    temp = df_time1[i]
print('第三組SN1壓力積分值為：',result)

第一組SN1壓力積分值為： 254.52743808546666
第二組SN1壓力積分值為： 248.17153679371611
第三組SN1壓力積分值為： 253.01528095686666

Q6：各組 SN2 全程壓力積分值

In [54]:
df_time2 = df['時間 (sec).1'].values
df_sn2 = df['SN2 '].values

total_length=len(df_time2)
length=total_length//3
temp = 0
time = 0
result = 0
for i in range(0,length):
    time = df_time2[i] - temp
    result += time * df_sn2[i]
    temp = df_time2[i]
print('第一組SN2壓力積分值為：',result)

temp = 0
time = 0
result = 0
for i in range(length,2*length):
    time = df_time2[i] - temp
    result += time * df_sn2[i]
    temp = df_time2[i]
print('第二組SN2壓力積分值為：',result)

temp = 0
time = 0
result = 0
for i in range(2*length,3*length):
    time = df_time2[i] - temp
    result += time * df_sn2[i]
    temp = df_time2[i]
print('第三組SN2壓力積分值為：',result)

第一組SN2壓力積分值為： 524.5140906970483
第二組SN2壓力積分值為： 486.98076128235994
第三組SN2壓力積分值為： 487.33945923649924

Q7：各組 SN3 全程壓力積分值

In [55]:
df_time3 = df['時間 (sec).2'].values
df_sn3 = df['SN3 '].values

total_length=len(df_time3)
length=total_length//3
temp = 0
time = 0
result = 0
for i in range(0,length):
    time = df_time3[i] - temp
    result += time * df_sn3[i]
    temp = df_time3[i]
print('第一組SN3壓力積分值為：',result)

temp = 0
time = 0
result = 0
for i in range(length,2*length):
    time = df_time3[i] - temp
    result += time * df_sn3[i]
    temp = df_time3[i]
print('第二組SN3壓力積分值為：',result)

temp = 0
time = 0
result = 0
for i in range(2*length,3*length):
    time = df_time3[i] - temp
    result += time * df_sn3[i]
    temp = df_time3[i]
print('第三組SN3壓力積分值為：',result)

第一組SN3壓力積分值為： 284.25807487786346
第二組SN3壓力積分值為： 293.8335120698687
第三組SN3壓力積分值為： 307.60797503169795

Q8：各組 SN4 全程壓力積分值

In [56]:
df_time4 = df['時間 (sec).3'].values
df_sn4 = df['SN4 '].values

total_length=len(df_time4)
length=total_length//3
temp = 0
time = 0
result = 0
for i in range(0,length):
    time = df_time4[i] - temp
    result += time * df_sn4[i]
    temp = df_time4[i]
print('第一組SN4壓力積分值為：',result)

temp = 0
time = 0
result = 0
for i in range(length,2*length):
    time = df_time4[i] - temp
    result += time * df_sn4[i]
    temp = df_time4[i]
print('第二組SN4壓力積分值為：',result)

temp = 0
time = 0
result = 0
for i in range(2*length,3*length):
    time = df_time4[i] - temp
    result += time * df_sn4[i]
    temp = df_time4[i]
print('第三組SN4壓力積分值為：',result)

第一組SN4壓力積分值為： 132.63945225151195
第二組SN4壓力積分值為： 135.92637278920046
第三組SN4壓力積分值為： 144.072575660048

Q9：系統保壓壓力設定為多少

In [60]:
total_length=len(df_time1)
length=total_length//3
temp = 0
hold = 0
for i in range(0,length):
    if(df_sn1[i] == 0):
        continue
    if(temp == df_sn1[i]):
        hold = temp
    else:
        temp = df_sn1[i]    
print('第一組系統保壓壓力為：',hold)

temp = 0
hold = 0
for i in range(length,2*length):
    if(df_sn1[i] == 0):
        continue
    if(temp == df_sn1[i]):
        hold = temp
    else:
        temp = df_sn1[i]    
print('第二組系統保壓壓力為：',hold)

temp = 0
hold = 0
for i in range(2*length,3*length):
    if(df_sn1[i] == 0):
        continue
    if(temp == df_sn1[i]):
        hold = temp
    else:
        temp = df_sn1[i]    
print('第三組系統保壓壓力為：',hold)

第一組系統保壓壓力為： 67.6
第二組系統保壓壓力為： 67.6
第三組系統保壓壓力為： 67.6

Q10：系統保壓開始到結束時段

In [67]:
total_length=len(df_time1)
length=total_length//3
temp = 0
hold_start = 100
hold_end = 0
for i in range(0,length):
    if(df_sn1[i] == 0):
        continue
    if(temp == df_sn1[i]):
        hold_end = df_time1[i]
        if(hold_start > df_time1[i-1]):
            hold_start = df_time1[i-1]
    else:
        temp = df_sn1[i]    
print('第一組系統保壓開始：', hold_start, 's ，結束：', hold_end, 's')

temp = 0
hold_start = 100
hold_end = 0
for i in range(length,2*length):
    if(df_sn1[i] == 0):
        continue
    if(temp == df_sn1[i]):
        hold_end = df_time1[i]
        if(hold_start > df_time1[i-1]):
            hold_start = df_time1[i-1]
    else:
        temp = df_sn1[i]    
print('第二組系統保壓開始：', hold_start, 's ，結束：', hold_end, 's')


temp = 0
hold_start = 100
hold_end = 0
for i in range(2*length,3*length):
    if(df_sn1[i] == 0):
        continue
    if(temp == df_sn1[i]):
        hold_end = df_time1[i]
        if(hold_start > df_time1[i-1]):
            hold_start = df_time1[i-1]
    else:
        temp = df_sn1[i]    
print('第三組系統保壓開始：', hold_start, 's ，結束：', hold_end, 's')

第一組系統保壓開始： 1.22228 s ，結束： 3.86095 s
第二組系統保壓開始： 1.27487 s ，結束： 3.77724 s
第三組系統保壓開始： 1.22187 s ，結束： 3.86055 s